<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="stepBack()">
        <ion-label>Atrás</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid [class.sliderStepGrid]="actualStepIndex == 2" class="main-grid">
    <ion-row [class.sliderStepHeader]="actualStepIndex == 2" class="header-row">
      <ng-container *ngIf="actualStepIndex == 2; else elseTemplate">
        <ion-slides [class.active]="actualStepIndex == 2" #slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let tree of trees">
            <img [src]="tree.src" alt=""/>
          </ion-slide>
        </ion-slides>
      </ng-container>
      <ng-template #elseTemplate>
        <ion-col>
          <h1>Planta un arbol</h1>
          <h4>{{actualStep.name}} ({{actualStep.id}}/4)</h4>
        </ion-col>
      </ng-template>
    </ion-row>
    <ion-row [class.sliderStepContent]="actualStepIndex == 2" class="content-row">
      <ion-col>

        <ng-container [ngSwitch]="actualStepIndex">
          <ion-grid class="step-1" *ngSwitchCase="1">
            <ion-row>
              <ion-col>
                <p class='first-step--label'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Excepturi enim eius sunt dolorem minima quibusdam.
                </p>
                <ion-item class="ion-item--input" lines="none">
                  <ion-label>Selecciona tu estado</ion-label>
                  <ion-select>
                    <ion-select-option *ngFor="let state of states" [value]="state.name">{{state.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="ion-item--input" lines="none">
                  <ion-label>Selecciona tu region</ion-label>
                  <ion-select>
                    <ion-select-option *ngFor="let region of regions" [value]="region.name">{{region.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="ion-item--input" lines="none">
                  <ion-label>Selecciona un tamaño</ion-label>
                  <ion-select>
                    <ion-select-option *ngFor="let size of sizes" [value]="size.name">{{size.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-button class="first-step--button" (click)="setTree()">Buscar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid class="step-2" *ngSwitchCase="2">
            <ion-row *ngIf="currentTree">
              <ion-col class="step-2__info">
                <ion-item class="step-2__info--main" lines="none">
                  {{currentTree.name}}
                </ion-item>
                <ion-item class="step-2__info--full" lines="none">
                  {{currentTree.fullName}}
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="step-2__controls">
              <ion-col>
                <ion-icon (click)="prev()" name="arrow-back-outline"></ion-icon>
              </ion-col>
              <ion-col>
                {{ (currentTreeIndex + 1) + " / " + (trees.length)}}
              </ion-col>
              <ion-col>
                <ion-icon (click)="next()" name="arrow-forward-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="step-2__actions">
              <ion-col>
                <ion-button (click)="stepBack()">
                  Volver
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="nextStep()">
                  Seleccionar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid class='step-3' *ngSwitchCase="3">
            <ion-row>
              <ion-col>
                <img [src]="currentTree.src" alt="">
                <ion-item lines="none">
                  <ion-label>
                    {{currentTree.name}}
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="stepBack()">Volver</ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="nextStep()">Continuar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid class='step-4' *ngSwitchCase="4">
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  Puedes recoger tu arbolito en las siguientes ubicaciones
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>