@import "src/theme/_vars.scss";

@include main-layout(
  "src/assets/images/federico-bottos-Z3NceSeZqgI-unsplash.jpg"
);

ion-slides{
    transition: ease-out .7s;
    opacity: 0;
    &.active{
        opacity: 1;
    }
    ion-slide{
        background: red;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
}

.main-grid{
    &.sliderStepGrid{
        background: white !important;
    }
}

.header-row{
    transition: ease-out .8s;
    &.sliderStepHeader{
        // background-color: aqua !important;
        max-height: 60vH !important;
        min-height: 60vH !important;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        overflow: hidden !important;
    }
}

.content-row{
    transition: ease-out .8s;
    &.sliderStepContent{
        // background-color: red !important;
        max-height: 40vH !important;
        min-height: 40vH !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        box-shadow: none !important;
    }
}

.step-1, .step-2{
    box-sizing: border-box;
    padding: 15px;
}
.step-1{
    .first-step--label{
        padding: 20px 3px 15px 3px;
    }
    .ion-item--input{
        border: 1px solid rgba(0,104,55,1);
        margin-bottom: 20px;
        border-radius: 25px;
        max-width: 345px !important;
    }
    .first-step--button{
        --background: rgba(0,104,55,.6);
        border-radius: 25px;
        color: white;
        font-weight: 400;
        overflow: hidden;
        width: 130px;
        display: block;
        margin: 0 0 0 auto;
    }
}
.step-2{
    .step-2__info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        ion-item{
            margin-bottom: 5px;
            padding: 0;
        }
        &--main{
            font-size: 22px;
            font-weight: bold;
        }
        &--full{
            font-size: 14px;
        }
    }
    .step-2__controls{
        padding-bottom: 20px;
        ion-col{
            display: flex;
            justify-content: center;
            align-items: center;
            ion-button{
                border: none;
                --background: none;
                color: black;
            }
        }
    }
    .step-2__actions{
        margin-top: 20px;
        ion-col{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ion-button{
            color: black;
            --background: none;
            border: none;
            &:active{
                --background: none;
            }
        }
    }
}
.step-3{
    margin: 0;
    padding: 0;
    img{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        max-height: 200px;
        width: 100%;
        object-fit: cover;
    }
    ion-label{
        position: relative;
        overflow: visible;
        &:after{
            position: absolute;
            content: '';
            width: 100px;
            height: 2px;
            background-color: green;
            left: 0;
            bottom: -10px;
            z-index: 30;
        }
    }
}
ion-col{
    padding: 0;
}

