@import "src/theme/_vars.scss";

@include main-layout(
  "src/assets/images/federico-bottos-Z3NceSeZqgI-unsplash.jpg"
);
form{
    text-align: center;
    img{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 20px;
        display: block;
        margin: 60px auto 20px auto;
    }
    .ion-item--input{
        border: 1px solid rgba(0,104,55,1);
        margin-bottom: 20px;
        border-radius: 25px;
        width: 90%;
        margin: 0 auto 20px auto;
    }
    ion-button{
        --background: rgba(0,104,55,.6);
        border-radius: 25px;
        color: white;
        font-weight: 400;
        overflow: hidden;
        min-width: 130px;
        display: block;
        margin: 0 0 0 auto;
        height: 45px;
    }
    .register--button{
        margin-top: 50px;
        font-size: 16px;
        color: var(--ion-color-success);
        text-align: right;
    }
}