ion-content{
    --background: white;
}

ion-slides{
    height: 100%;
}

ion-slide{
    --background: red;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    color: black;
    box-sizing: border-box;
    padding: 0 20px;
    ion-icon{
        font-size: 40px;
        color: var(--ion-color-primary);
        margin-bottom: 30px;
    }
    h1{
        margin: 0;
        margin-bottom: 10px;
    }
    h2{
        margin: 0;
        margin-bottom: 20px;
    }
    p{
        padding: 0 30px;
    }
    button{
        margin-top: 15px;
        background-color: var(--ion-color-primary-shade);
        padding: 9px 26px;
        border-radius: 7px;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
}