<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-icon name="map-outline"></ion-icon>
      <h1>Consulta la calidad del aire</h1>
      <h2>en cualquier momento</h2>
      <p>con informacion de fuentes oficiales</p>
    </ion-slide>
    <ion-slide>
      <ion-icon name="leaf-outline"></ion-icon>
      <h1>Planta un arbol</h1>
      <h2>hazte cargo de el</h2>
      <p>Puedes donarlo a alguien mas</p>
    </ion-slide>
    <ion-slide>
      <ion-icon name="finger-print-outline"></ion-icon>
      <h1>Consulta tu huella de carbono</h1>
      <p>y se consciente del las acciones que puedes tomar</p>
      <ion-button routerLink="/dashboard" shape="round" fill="outline">Continuar</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
