@mixin main-layout($image-url){
    ion-header{
        position: absolute;
        z-index: 700;
        width: 100%;
        height: 44px;
    }
    
    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent !important;
        --opacit: 0;
        --border-width: 0px !important;
        ion-menu-button{
            color: white;
        }
    }
    
    .main-grid{
        height: 100%;
        padding: 0;
        margin: 0;
        background-image: 
        linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), 
        url(#{$image-url});
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%;
        .header-row{
            height: 18vH;
            position: relative;
            z-index: 500;
            ion-col{
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
                padding: 0 15px;
                img{
                    width: 65px;
                    height: 65px;
                    object-fit: contain;
                    border-radius: 100%;
                    margin-bottom: 15px;
                }
                h1,h2{
                    position: relative;
                    z-index: 800;
                    transform: translateZ(100px);
                }
                h1{
                    padding: 0;
                    margin: 0 0 10px;
                    color: white;
                }
                h4{
                    padding: 0;
                    margin: 0 0 20px 0;
                    font-size: 14px;
                    opacity: .7;
                    color: white;
                }
            }
        }
        .content-row{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 15;
            overflow-y: auto;
            background-color: var(--main-color);
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            max-height: 82vH;
            min-height: 82vH;
            box-shadow: 0px 40px 88px 84px rgb(0,0,0);
            width: 100%;
        }
    }
    
    
}