ion-header{
    position: absolute;
    z-index: 700;
    width: 100%;
    height: 44px;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --opacit: 0;
    --border-width: 0px !important;
    ion-menu-button{
        color: white;
    }
}

.main-grid{
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: 
    linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), 
    url('src/assets/images/bg_trees.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    .header-row{
        height: 20vH;
        position: relative;
        z-index: 500;
        ion-col{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            padding: 0 15px;
            img{
                width: 65px;
                height: 65px;
                object-fit: contain;
                border-radius: 100%;
                margin-bottom: 15px;
            }
            h1{
                position: relative;
                z-index: 800;
                transform: translateZ(100px);
                padding: 0;
                margin: 0 0 10px;
                color: white;
            }
        }
    }
    .content-row{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 15;
        overflow-y: auto;
        background-color: var(--main-color);
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        max-height: calc(80vH);
        min-height: calc(80vH);
        box-shadow: 0px 40px 88px 84px rgb(0,0,0);
        width: 100%;
        form{
            text-align: center;
            img{
                width: 100px;
                height: 100px;
                border-radius: 100%;
                object-fit: cover;
                margin-bottom: 20px;
                display: block;
                margin: 60px auto 20px auto;
            }
            .ion-item--input{
                border: 1px solid rgba(0,104,55,1);
                margin-bottom: 20px;
                border-radius: 25px;
                width: 90%;
                margin: 0 auto 20px auto;
            }
            ion-button{
                --background: rgba(0,104,55,.6);
                border-radius: 25px;
                color: white;
                font-weight: 400;
                overflow: hidden;
                min-width: 130px;
                display: block;
                margin: 0 0 0 auto;
                height: 45px;
            }
        }
    }
    ion-col{
        padding: 0;
    }
    ion-card{
        border-radius: 30px;
    }
}

