<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="main-grid">
    <ion-row class="header-row">
      <ion-col>
        <img src="https://via.placeholder.com/150" alt="">
        <h1>Jhon Wick</h1>
      </ion-col>
    </ion-row>
    <ion-row class="content-row">
      <ion-grid>
        <ion-row>
          <ion-col>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>