@import "src/theme/_vars.scss";

@include main-layout(
  "src/assets/images/marita-kavelashvili-ugnrXk1129g-unsplash.jpg"
);

ion-col{
    padding: 0;
}
ion-card{
    border-radius: 30px;
    ion-card-header{
        ion-card-title{
            color: rgba(0,104,55,1);
            font-weight: bold;
        }
        ion-card-subtitle{
            color: rgba(0,104,55,1);
            font-weight: 300;
        }
    }
}
