<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="main-grid">
    <ion-row class="header-row">
      <ion-col>
        <h1>Calcular huella de carbono</h1>
        <h4>encuesta</h4>
      </ion-col>
    </ion-row>
    <ion-row class="content-row">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Inicia sesión</ion-card-subtitle>
                <ion-card-title>descubre los beneficios</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, dolorum.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Planta un arbol</ion-card-subtitle>
                <ion-card-title>házte cargo de el</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Minima beatae labore numquam amet suscipit assumenda fuga culpa.
                Iste, ullam quos debitis ducimus amet incidunt error, minima obcaecati,
                praesentium voluptas voluptatum.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Cálcula tu huella de carbono</ion-card-subtitle>
                <ion-card-title>pon manos a la obra</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Minima beatae labore numquam amet suscipit assumenda fuga culpa.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>